h1 {
  font-family: sans-serif;
  color: #3f3f3f;
}

.button {
  margin-top: 1rem;
  padding: 1em 5em;
  color: #ffffff;
  font-weight: 600;
  background: #00b28f;
  border: 1px solid #009578;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  color: #3f3f3f;
  background: transparent;
}

.json-text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}
